<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boc_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dashboard"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ThirdPartyTransaction"></activity>
        <activity android:name=".OtherBankCreditConfirm"></activity>
        <activity android:name=".OtherBankCreditCardPayment"></activity>
        <activity android:name=".OtherBankAccountPayment"></activity>
        <activity android:name=".OtherBankAccountConfirm"></activity>
        <activity android:name=".moreActivityFunction"></activity>
        <activity android:name=".confirmThirdPatyTransaction"></activity>
        <activity android:name=".billPayment3"></activity>
        <activity android:name=".billPayment2"></activity>
        <activity android:name=".billPayment"></activity>
        <activity android:name=".addBiller2"></activity>
        <activity android:name=".addBiller"></activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>