<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boc_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/download"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/download"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfile"></activity>
        <activity android:name=".OtherBankAccountConfirm" />
        <activity
            android:name=".dashboard"
            android:exported="true" />
        <activity
            android:name=".addBiller"
            android:exported="true" />
        <activity
            android:name=".addBiller2"
            android:exported="true" />
        <activity
            android:name=".biller_list"
            android:exported="true" />
        <activity
            android:name=".billPayment"
            android:exported="true" />
        <activity
            android:name=".billPayment3"
            android:exported="true" />
        <activity
            android:name=".OtherBankCreditConfirm"
            android:exported="true" />
        <activity
            android:name=".moreActivityFunction"
            android:exported="true" />
        <activity
            android:name=".ContactUs"
            android:exported="true" />
        <activity
            android:name=".OtherBankCreditCardPayment"
            android:exported="true" />
        <activity
            android:name=".ThirdPartyTransaction"
            android:exported="true" />
        <activity
            android:name=".confirmThirdPatyTransaction"
            android:exported="true" />
        <activity
            android:name=".OtherBankAccountPayment"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login">

        </activity>
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>